version: "2"
services:
  server:
    environment:
      DB_USER: postgres
      DB_PASSWORD: nutter01
      DB_HOST: localhost
      DB_PORT: 5432
      DB_DATABASE: cuddlyeureka
      PORT: 5000
      NODE_ENV: development
    restart: on-failure
    build: .
    ports:
      - "5000:5000"
    links:
      - postgres

  postgres:
    image: postgres:13.5-alpine
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "postgres" ]
      timeout: 45s
      interval: 10s
      retries: 10
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: nutter01
      POSTGRES_DB: cuddlyeureka
    ports:
      - '5432:5432'
